.container{
    width: 600px;
    margin: auto;
    border: solid;
}

.imageContainer img{
    width: 100%;
    
}

.imageContainer{
    display: flex;
    height: 500px;
    width: 600px;
    transition: 1s ease;
}

.notTransition{
    transition: none;
}
